<h1><%= @staff.staff_name %></h1> <br>

<%= link_to "ユーザー情報変更", edit_staff_path(@staff)%>

<% if @master.shift_onoff == true %>
  <h2><%= link_to "シフト提出",individual_shifts_path %></h2>

  <h2><%= link_to "提出したシフトを確認する", comfirmed_shifts_path %></h2>
<% end %>  