<div class="center jumbtron ">
 <div class="container">
   <h1 class="display-3">シフト管理アプリへようこそ</h1>
   <h2>今すぐシフトを決めてしまおう！</h2>

   <%= link_to "新規登録", '#', class:"btn btn-lg btn-primary" %>
 </div>
</div>  