<div class="row">
  <aside class="col-md-6">
    <section class="user_info">
        <h1>コマの設定</h1>
       
        <% @shift_separations.each do |shift_separation| %>
            <li> 
               <%= link_to shift_separation.name, edit_master_shift_separation_path(current_master,shift_separation) %>  
               <%= shift_separation.start_time.hour %>  時　~　<%= shift_separation.finish_time.hour %> 時
               <%= link_to "削除",master_shift_separation_path(current_master,shift_separation) , {method: :delete, data: { confirm: 'この時間帯を削除して間違いありませんか？'}} %>
            </li>
        <% end %>   
    </section>
  </aside>
</div>         