<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= @master.store_name %> <br>
        <%= @master.user_name %>
      </h1>
      <%= link_to "従業員登録", new_staff_path %> <br>
      <%= link_to "従業員一覧", staffs_path %>
    </section>
  </aside>
</div>