body{
    height:max-content;
}

.navbar{
  background-color :green;
}

#logo{
    font-size: 30px;
    color:#fff;
    &:hover{
        color: lightyellow;
        text-decoration: none;
    }
}
li{
    margin-right: 20px;
}

.nav-link{
  a{
    color :white;
  }
}

ul.dropdown-menu{
  a{
    color: orange;
  }
  
}

#error_explanation {
    color: red;
    ul {
      color: red;
      margin: 0 0 30px 0;
    }
}
  
.field_with_errors {
    /*@extend .has-error;*/
    .form-control {
      color: lightcoral;
    }
}

.alert{
    margin-top: 30px;
}

h1{
  font-size:100px;
}

// --form_checked

.checkbox {
    margin-top: -10px;
    margin-bottom: 10px;
    span {
      margin-left: 20px;
      font-weight: normal;
    }
  }
  
#session_remember_me {
    width: auto;
    margin-left: 0;
}

#staff_training_mode{
    width: auto;
    margin-left: 0;
}

#staffs_session_remember_me{
    width: auto;
    margin-left: 0;
}

.form-inline{
    padding-top: 20px;
    .form-control{
        margin-right: 10px;
    }
}

.control-label{
    padding-right: 10px;
}

//-- fullcalendar--

// 平日
.fc-day-mon, .fc-day-tue,
.fc-day-wed, .fc-day-thu, .fc-day-fri{
  .fc-daygrid-day-top, .fc-scrollgrid-sync-inner .fc-col-header-cell-cushion, .fc-list-day-cushion {
    color: black;
  }
}

// 土曜日
.fc-day-sat {
  .fc-daygrid-day-top, .fc-scrollgrid-sync-inner .fc-col-header-cell-cushion, .fc-list-day-cushion {
    color: blue;
  }
}

// 日曜日
.fc-day-sun{
  .fc-daygrid-day-top, .fc-scrollgrid-sync-inner .fc-col-header-cell-cushion, .fc-list-day-cushion {
    color: red;
  }
}

td.fc-day-sat {
  background-color: #eaf4ff;
  
}

td.fc-day-sun {
  background-color: #ffeaea;
}

.horizon{
  writing-mode: horizontal-tb;
}

.vertical{
  writing-mode: vertical-lr;
}

.calendar{
  padding-top: 50px;
  font-size: 20px;
}

.button{
  padding-bottom: 20px;
}

//--- modal---//

#modal{
  z-index: 2;
  display: none;
  height: 100vh;
  position: fixed;
  top: 0;
  // width: 1000px;
  top: 0;
  left: 0;
  .modal-content{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: auto;
    padding: 0 20px
  }
}

