body{
    height:max-content;
}

#logo{
    font-size: 40px;
    color:#fff;
    &:hover{
        color: lightyellow;
        text-decoration: none;
    }
}

h1{
    font-size:100px;
}

li{
    margin-right: 20px;
}

#error_explanation {
    color: red;
    ul {
      color: red;
      margin: 0 0 30px 0;
    }
}
  
.field_with_errors {
    /*@extend .has-error;*/
    .form-control {
      color: lightcoral;
    }
}

.alert{
    margin-top: 30px;
}

.checkbox {
    margin-top: -10px;
    margin-bottom: 10px;
    span {
      margin-left: 20px;
      font-weight: normal;
    }
  }
  
#session_remember_me {
    width: auto;
    margin-left: 0;
}

#staff_training_mode{
    width: auto;
    margin-left: 0;
}

#staffs_session_remember_me{
    width: auto;
    margin-left: 0;
}

.form-inline{
    padding-top: 20px;
    .form-control{
        margin-right: 10px;
    }
}

.control-label{
    padding-right: 10px;
}

.fc-day-other {
    .fc-daygrid-day-top, .fc-scrollgrid-sync-inner .fc-col-header-cell-cushion, .fc-list-day-cushion {
      color: darkgrey;
    }
  }
  
  // 土曜日
  .fc-day-sat {
    .fc-daygrid-day-top, .fc-scrollgrid-sync-inner .fc-col-header-cell-cushion, .fc-list-day-cushion {
      color: blue;
    }
  }
  
  // 日曜日
  .fc-day-sun{
    .fc-daygrid-day-top, .fc-scrollgrid-sync-inner .fc-col-header-cell-cushion, .fc-list-day-cushion {
      color: red;
    }
  }