<div id="calendar"></div>

<div id="modal2" tabindex="1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header2">
        <button type="button" class="close2" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body2">
      </div>
    </div>
  </div>
</div>

<%= javascript_pack_tag 'comfirmed_shifts/calendar' %>
<%= javascript_pack_tag 'shared/index' %>